* {
    box-sizing: border-box;
}

#chat-container {
    height: 650px;
    width: 850px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

#chat-box {
    border: 1px solid orange;
    width: 75%;
    height: 100%;
    padding: 15px;
}

    #chat-box #message-box {
        /*border: 1px solid green;*/
        width: 100%;
        height: 90%;
        overflow-y: auto;
    }

    #chat-box #function-bar {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

        #chat-box #function-bar #ChatTextArea {
            width: 70%;
            height: 70%;
        }
        
        #chat-box #function-bar #inputFileLbl {
           border: 1px solid black;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            width: 14%;
            height: 70%;
        }
        #chat-box #function-bar #inputFile {
           display: none;
        }

        #chat-box #function-bar #btnSend {
            width: 14%;
            height: 70%;
        }

#message-box .message-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    /*border: 2px solid red;*/
}

    #message-box .message-container div[class^="message"] {
        width: 42%;
        background-color: lightgrey;
        color: white;
        border: 1px solid black;
        min-height: 30px;
        padding:4px;
    }

    #message-box .message-container .msg-attachment{
        width: 42%;
        background-color: lightgrey;
        /*border: 1px solid pink;*/
        height:200px; 
        max-width: 100%;
        /*border: 2px solid green;*/
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;

    }

    #message-box .message-container .msg-attachment .message-img{
        max-width:100%; 
        max-height:100%;
        display: block;
    }



    #message-box .ms-self  {
        align-items: flex-end;
    }



#contact_list {
    border: 1px solid blue;
    overflow-y: auto !important;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    #contact_list div[class^="contact-box"] {
        border: 1px solid cyan;
        width: 100%;
        height: 20%;
    }

        #contact_list div[class^="contact-box"]:hover {
            cursor: pointer;
            background-color: gainsboro;
        }

    #contact_list .contact-box-selected {
        border: 1px solid cyan;
        background-color: aquamarine;
        width: 100%;
        height: 20%;
    }

        #contact_list .contact-box-selected:hover {
            background-color: aquamarine !important;
        }